<footer class="p-10 bg-sea mt-40">
    <div class="container grid grid-cols-10 text-sm text-silver mx-auto w-full">
        <div class="col-1">
            <p>© 2022.Goatbeat</p>
        </div>
        <div class="col-2 col-span-7">            
        </div>
        <div class="col-9">
            <p class="underline cursor-pointer">Privacy policy</p>
        </div>
        <div class="col-10 ">
            <p class="underline cursor-pointer">Terms of service</p>
        </div>
    </div>
</footer>
