<div class="container w-full mx-auto">
    <div class="container mt-40">
        <p class="text-silver text-8xl p-4 text-center">
            HERE STARTS YOUR JOURNEY AS A MUSIC NFT CREATOR
        </p>
    </div>
    <div class="container flex flex-col md:flex-row w-5/5 md:w-3/5 p-10 mx-auto">
        <div class="p-10 flex items-center flex-col">
            <p class="text-silver text-center my-2">Sing up if you are not already registered as an creator.</p>
            <button class="bg-gum hover:bg-silver text-silver hover:text-gum border border-gum font-bold py-4 px-6 rounded mt-5">
                Sign up
            </button>
        </div>
        <div class="p-10 flex items-center flex-col">
            <p class="text-silver text-center my-2">Log in if you already have a creator account.</p>
            <button class="text-sea hover:text-silver hover:bg-sea font-bold py-4 px-6 border border-sea rounded mx-auto mt-5">
                Log in
            </button>
        </div>
        
    </div>
</div>