<div class="container grid w-full mx-auto grid-cols-4">
    <div class="container mt-20 md:mt-40 col-span-3 md:col-span-3 col-span-4 mx-auto">
        <p class="text-silver text-6xl md:text-8xl p-4 text-center">
            DISCOVER, BUY AND CREATE MUSIC NFTS!!
        </p>
        <p class="text-silver mt-10 text-xl p-4">
            Discover the latest music Nfts. Create your music Nfts with Goatbeat for the minimum cost and win royalties of your musical creations for life everytime your art is sold.
        </p>
    </div>
    <div class="container mt-30 md:mt-60 md:col-span-1 col-span-2 mx-auto sm:object-center">
        <img src="../../assets/headphones.png">
    </div>
</div>

<div class="container grid w-full mx-auto md:grid-cols-3 mt-60">
    <div class="column-1">
        <div class="mx-auto w-3/5 border border-silver hover:border-sea text-silver hover:text-gum border-2 rounded mt-5 text-center p-10 cursor-pointer">
            <span class="material-icons-outlined text-6xl">library_music</span>
            <p class="mt-10 text-xl text-silver">Discover</p>
        </div>
    </div>
    <div class="column-2">
        <div class="mx-auto w-3/5 border border-silver hover:border-sea text-silver hover:text-gum  border-2 rounded mt-5 text-center p-10 cursor-pointer">
            <span class="material-icons-outlined text-6xl">grade</span>
            <p class="mt-10 text-xl text-silver">Create</p>
        </div>
    </div>
    <div class="column-3">
        <div class="mx-auto w-3/5 border border-silver hover:border-sea text-silver hover:text-gum  border-2 rounded mt-5 text-center p-10 cursor-pointer">
            <span class="material-icons-outlined text-6xl">trending_up</span>
            <p class="mt-10 text-xl text-silver">Trending</p>
        </div>
    </div>
</div>